@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 1400px;

}

body>div {
    margin: 0 auto;
    max-width: 1400px;
}


.menu-nav {
    color: black;
    display: flex;
    align-items: center;
}

.img1 {
    width: 8%;
    padding-top: 1.5em;
    padding-left: 2em;
}

nav ul {
    display: flex;
    margin-left: auto;
    list-style-type: none;
    justify-content: space-between;
    padding-top: 1.5em;
    width: 20%;
    height: 100%;
    padding-right: 3%;
}

nav ul li a {
    text-decoration: none;
    display: flex;
    color: black;
}

nav a:hover {
    border-top: #0065FC solid;
    color: #0065FC;
}

.ahead {
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    padding-top: 126px;
}

.ahead h1 {
    font-size: 1.5em;
    font-weight: bold;
    height: 26px;
    width: 575px;
    width: 100%;
}

.ahead p {
    padding-top: 8px;
    padding-bottom: 20px;
}


.formulaire {
    display: flex;
    padding-left: 55px;
}

.fa-solid.fa-location-dot {
    border: #F2F2F2 0.6em solid;
    background-color: #F2F2F2;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center
}

.rechercher {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    height: 3.7em;
    border-radius: 15px;
    padding-bottom: 4%;
}

.fa-solid.fa-magnifying-glass {
    color: white;
    display: none;
}

.champ {
    border: 0.2em #F2F2F2 solid;
    height: 3.7em;
    padding-left: 2%;
    font-weight: bold;
}

.rechercher a {
    color: white;
    background-color: #0065FC;
    border-radius: 20px;
    border: #0065FC 0.6em solid;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 49px;
    width: 35%;
    padding: 15px 16px 15px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
    font-size: medium;
}

.filtre {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-left: 5%;
}

.filtre ul {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    width: 70%;
    list-style-type: none;
    padding-bottom: 5%;
    align-items: center;
}

.filtre i {
    color: #0065FC;
}

.filtre a {
    text-decoration: none;
    color: black;
    margin-left: 5%;
    font-weight: bold;
}

.filtre li {
    border: #F2F2F2 solid 0.2em;
    width: 10em;
    height: 2.8em;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtre li:hover {
    background-color: #87aff89c;
}

.filtre .animals {
    width: 25%;
}

.info-logement {
    padding-bottom: 39px;
    padding-left: 73px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.info-logement p {
    margin-left: 11px;
}

.section-title {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 1.3em;
}

.left-title {
    padding-top: 42px;
    padding-left: 40px;
}

#hebergements {
    background-color: #F2F2F2;
    height: 626px;
    width: 880px;
    left: 0px;
    top: 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#hebergements i {
    font-size: small;
}

.list-loc {
    max-height: 626px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 75%;

}

.loc-box {
    position: relative;
    background-size: cover;
    background-position: bottom;
    min-width: 20%;
    flex: 1;
    height: 43%;
    border-radius: 20px;
    border: 5px solid white;
}

.loc-box:hover {
    transform: scale(1.05);
    transition: 10ms;
}

.loc1 {
    background-image: url(/projet2/ImagesBooki/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    margin-left: 40px;
    margin-bottom: 30px;
}

.loc2 {
    background-image: url(/Images-Booki/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    margin-left: 31px;
}

.loc3 {
    background-image: url(/Images-Booki/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    margin-left: 31px;
    margin-right: 40px;
}

.loc4 {
    background-image: url(/Images-Booki/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    margin-bottom: 200px;
    margin-left: 40px;
}

.loc5 {
    background-image: url(/Images-Booki/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    margin-left: 31px;
}

.loc6 {
    background-image: url(/Images-Booki/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    margin-left: 31px;
    margin-right: 40px;
}

.loc-details {
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    padding: 4px 26px 0px 16px;
}

.loc-name {
    font-weight: 700;
    color: black;
    padding: 5px 0;
    font-size: 1em;
}

.loc-price {
    color: black;
    padding-bottom: 5px;
}

.loc-stars {
    color: #0065FC;
}

.plus-button {
    padding-left: 40px;
    text-decoration: none;
    color: black;
    width: 18%;
}

.plus-button:hover {
    transform: scale(1.01);
    transition: 10ms smooth;
}

.main-section {
    width: 1300px;
    display: flex;
    margin: 0 50px;
}

.popular {
    width: 420px;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    height: 625px;
    margin-left: 40px;
}

.popular i {
    font-size: small;
}

main a h2 {
    bottom: 0;
    margin-bottom: 800px;

}

.loc7 {
    background-image: url(/Images-Booki/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

.loc8 {
    background-image: url(/Images-Booki/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

.loc9 {
    background-image: url(/Images-Booki/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

.most-popular {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    margin-left: 37px;
}

.popular-box {
    position: relative;
    background-size: 105%;
    background-position: center;
    height: 144px;
    width: 343px;
    border-radius: 20px;
    border: 5px solid white;
}


.popular-details {
    position: absolute;
    background-color: white;
    width: 60%;
    right: 0;
    height: 100%;
    padding-left: 15px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.popular-name {
    font-weight: 700;
    color: black;
    padding-top: 16px;
    padding-bottom: 7px;
    font-size: 1em;
}

.popular-price {
    color: black;

}

.popular-price2 {
    padding-bottom: 44px;
}

.popular-stars {
    position: absolute;
    color: #0065FC;
    font-size: small;
    height: 100%;
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: flex-end;
}

.fa-solid.fa-chart-line {
    color: #0065FC;
    padding-right: 42px;
    height: 15.75px;
    width: 18px;
    font-size: smaller;
}

.section-title-icons {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 1.3em;
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
    padding-left: 37px;
}

#activities {
    height: 480px;
    width: 100%;
    padding-left: 50px;
}

#activities h2 {
    padding-top: 60px;
}

.act-marseille {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.act-box {
    height: 444px;
    width: 302px;
    border-radius: 22px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 18px;
}

.act-box:hover {
    transform: scale(1.05);
    transition: 10ms smooth;
}

.act1 {
    background-image: url(/Images-Booki/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    margin-right: 4%;
}

.act2 {
    background-image: url(/Images-Booki/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    margin-right: 4%;
}

.act3 {
    background-image: url(/Images-Booki/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    margin-right: 4%;
}

.act4 {
    background-image: url(/Images-Booki/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    margin-right: 4%;
}

article div a div p {
    display: flex;
    color: black;
    align-items: center;
    margin: 20px 36px 21px 19px;
    font-weight: 600;

}

.act-details {
    position: absolute;
    background-color: white;
    height: 56px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 0;
    box-shadow: 5px 5px 5px 5px #F2F2F2;
}


footer {
    position: relative;
    background-color: #F2F2F2;
    height: 225px;
    width: 94%;
    left: 48px;
    display: flex;
    justify-content: space-between;
    margin-top: 147px;
}

.propos {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.services {
    display: flex;
    flex-direction: column;
}

.help {
    display: flex;
    flex-direction: column;
    margin-right: 348px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 12px;
}

footer ul li a {
    text-decoration: none;
    color: black;
    list-style-type: none;
}

footer ul li:hover {
    transform: scale(1.05);
    transition: 10ms smooth;
}

footer ul li h3 {
    margin-top: 45px;
    margin-bottom: 20px;
}

/*tablette*/
@media (max-width:992px) and (min-width:768px) {
    .menu-nav {
        width: 95%;
    }

    .menu-nav ul {
        justify-content: space-between;
        margin-left: 65%;
        width: 50%;
    }

    .menu-nav img {
        width: 20%;
    }

    .filtre {
        display: flex;
        justify-content: space-around;
    }

    .filtre ul {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    #hebergements {
        width: 90%;
    }

    .main-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .popular {
        display: flex;
        height: 278px;
        width: 90%;
        left: 0px;
        top: 0px;
        border-radius: 20px;
        margin-left: 0;
        margin-top: 7%;
        justify-content: space-between;
        flex-direction: column;
        padding: 0px 3% 0px 3%;

    }

    .most-popular {
        display: flex;
        flex-direction: row;
        bottom: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .section-title-icons {
        display: flex;
        justify-content: space-between;
        height: 10%;
        margin: 0;
        width: 100%;
        padding-bottom: 2%;
        padding-left: 0;
    }

    .popular-name {
        font-size: medium;
    }

    .popular-box {
        height: 65%;
        width: 32%;
        border-radius: 20px;
    }

    .popular-price {
        font-size: 13px;
    }

    .popular-stars {
        position: absolute;
        color: #0065FC;
        font-size: small;
        height: 100%;
        display: flex;
        width: 55%;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 5%;
    }

    .popular-details {
        font-size: 14px;
        width: 55%;
    }

    article div a div p {
        white-space: normal;
        height: 50%;
        font-size: medium;
        width: 100%;
        margin-top: 8%;
    }

    .act-details {
        width: 100%;
        box-shadow: 5px 5px 5px 5px #F2F2F2;
    }

    footer {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    footer ul {
        display: flex;
    }

    .propos {
        margin-left: 10%;
    }

    .help {
        margin-right: 10%;
    }

}

@media (max-width:768px) {

    * {
        min-height: 0;
        max-height: none;
        max-width: 768px
    }

    .menu-nav {
        display: flex;
        flex-direction: column;
    }

    body div nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        width: 100%;
        padding-bottom: 5%;
    }

    body div nav ul li {
        width: 100%;
    }

    body div nav ul li a {
        width: 100%;
        justify-content: center;
        border-bottom: #F2F2F2 0.2em solid;
        padding-bottom: 10%;
    }

    nav a:hover {
        border: none;
        position: relative;
        border-bottom: #0065FC 0.2em solid;
        padding-top: 0;
    }

    .img1 {
        width: 17%;
        padding: 6% 0 7% 0
    }

    .ahead {
        padding: 5% 0 0 5%;
    }

    .ahead>h1 {
        font-size: 22px;
    }

    .ahead>p {
        padding-top: 7%;
        padding-bottom: 5%;
    }

    .rechercher {
        width: 100%;
        padding-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formulaire {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 0;
    }

    .fa-solid.fa-location-dot {
        border: #F2F2F2 1.5em solid;
    }

    .champ {
        width: 55%;
    }

    .rechercher a {
        width: 20%;
    }

    .formulaire {
        align-items: center;
    }

    .formulaire a {
        display: none;
    }

    .fa-solid.fa-magnifying-glass {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12%;
        height: 100%;
        background-color: #0065FC;
        border-radius: 20px;
        border: #0065FC 1em solid;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
    }

    .filtre {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 200px;
        justify-content: space-around;
        margin-top: 3%;
    }

    .filtre ul {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-top: 5%;
        padding-bottom: 10%;
        height: 100%;
    }

    .filtre ul li {
        width: 48%;
    }

    .filtre ul li a {
        font-size: 11px;
    }

    .filtre .animals {
        width: 48%;
    }

    .info-logement {
        padding-left: 5%;
    }

    main {
        height: 2400px;
        width: 100%;
    }

    .main-section {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        height: 100%;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .popular {
        padding-left: 0;
        margin: 0;
        border-radius: 0;
        width: 100%;
    }

    .popular-box {
        width: 80%;

    }

    .section-title-icons {
        display: flex;
        justify-content: space-around;
        padding-left: 0;
    }

    .most-popular {
        margin: 0 0 0 3%;
        align-items: center;
    }

    #hebergements {
        background-color: white;
        flex-direction: column;
        height: 80%;
        width: 100%;
        align-items: center;
    }

    .left-title {
        padding-left: 3%;
    }

    .list-loc {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 80%;
        max-height: none;
        align-items: center;

    }

    .loc-details {
        height: 43%;
        width: 100%;
    }

    .loc-box {
        width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: 5px 5px 5px 5px #F2F2F2;
        background-size: cover;
    }

    .loc-box:hover {
        transform: inherit;
    }

    .loc1 {
        margin-bottom: 8%;
        width: 75%;
    }

    .loc2 {
        margin-bottom: 8%;
        width: 75%;
    }

    .loc3 {
        margin-bottom: 8%;
        width: 75%;
    }

    .loc4 {
        margin-bottom: 8%;
        width: 75%;
    }

    .loc5 {
        margin-bottom: 8%;
        width: 75%;
    }

    .loc6 {
        width: 75%;
    }

    .plus-button {
        display: none;
    }

    #activities {
        padding-left: 8%;
        height: 1000px;
    }

    #activities>h2 {
        padding-top: 0;
    }

    .act-marseille {
        flex-direction: column;
    }

    .act-box {
        background-size: cover;
        background-position: bottom;
    }

    .act1 {
        margin-bottom: 8%;
        width: 90%;
    }

    .act2 {
        margin-bottom: 8%;
        width: 90%;
        background-position: center;
    }

    .act3 {
        margin-bottom: 8%;
        width: 90%;
    }

    .act4 {
        margin-bottom: 8%;
        width: 90%;
    }

    .act-details {
        width: 100%;
    }

    footer {
        margin: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        height: 500px;
    }

    .propos {
        margin-left: 8%;
    }

    footer ul {
        margin-left: 8%;
    }

    .help {
        width: 100%;
        margin-bottom: 10%;
    }

}